body{
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    right: 0px;
}

header{
    background-color: black;
    height: 80px;
    padding: 0px 0px;
    text-align: center;
}

.logoimg{
    width: 200px;
    float: left;
}

.iluz{
    position: absolute;
    right: 20px;
    top: 100px;
    width: 520px;
    position: fixed;
}

.iluz{
    width: 200px;
    position: absolute;
    right: 1090px;
    top: 45px;
}

@font-face {
    font-family: Sanset;
    src: url(../fonte/Pasajero.otf);
 }

 h1{
    font-family:  Sanset;
    color: white;
    font-size: 70px;
    position: absolute;
    right: 700px;
    top: 80px;
    letter-spacing: 15px;
 }

 @font-face {
    font-family: Creafter Dreams;
    src: url(../fonte/CODE\ Light.otf);
 }

 h3{
    color: white;
    font-family: Creafter Dreams;
    letter-spacing: 7px;
    font-size: 12px;
    position: absolute;
    right: 650px;
    top: 320px;
    line-height: 20px;
    text-align: center;
}