body{
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    right: 0px;
}

header{
    background-color: black;
    height: 80px;
    padding: 0px 0px;
    text-align: center;
}

.nav{
    font-family: Creafter Dreams N;
    color: white;
    position: absolute;
    right: 20px;
    top: 32px;
    letter-spacing: 2px;
    text-decoration: none;
}

@font-face {
    font-family: Creafter Dreams N;
    src: url(../fonte/CODE\ Bold.otf);
 }

.logoimg{
    width: 200px;
    float: left;
}

.inet{
    position: absolute;
    right: 2%;
    top: 16%;
    width: 39vw;
    position: fixed;
}

.iluz{
    width: 14vw;
    position: absolute;
    right: 81%;
    top: 10%;
}

@font-face {
    font-family: Sanset;
    src: url(../fonte/Pasajero.otf);
 }

 h1{
    font-family:  Sanset;
    color: white;
    font-size: 5vw;
    position: absolute;
    right: 53%;
    top: 16%;
    letter-spacing: 15px;
 }

 h2{
    font-family:  Sanset;
    color: white;
    font-size: 1.5vw;
    position: absolute;
    right: 50%;
    top: 51%;
    letter-spacing: 15px;
 }

 @font-face {
    font-family: Creafter Dreams;
    src: url(../fonte/CODE\ Light.otf);
 }

 h3{
    color: white;
    font-family: Creafter Dreams;
    letter-spacing: 7px;
    font-size: 0.8vw;
    position: absolute;
    right: 53%;
    top: 55.5%;
    line-height: 20px;
    text-align: center;
}